version: "3.7"
services:

  # Snapshot hub
  snapshot-hub:
    build: .
    container_name: snapshot-hub
    env_file:
      - .env.local
    environment:
      PORT: 8080
      DEV: "true"
      ALLOWED_DOMAINS: "http://localhost:8081,http://localhost:8080"
      JAWSDB_URL: postgres://admin:admin@snapshot-postgres:5432/snapshot-db
      TARGET_SNAPSHOT_HUB_API: https://hub.snapshot.page # https://testnet.snapshot.page
      ALCHEMY_API_URL: https://eth-rinkeby.alchemyapi.io/v2/cdrXBHcsaHGES6pIAEvZiQEhOesgNgEg
    depends_on:
      - snapshot-postgres
    ports:
      - 8081:8080

  # Snapshot Postgres instance
  snapshot-postgres:
    image: bitnami/postgresql:13
    container_name: snapshot-postgres
    environment:
      POSTGRESQL_USERNAME: admin
      POSTGRESQL_PASSWORD: "admin"
      POSTGRESQL_DATABASE: snapshot-db
    ports:
      - 5432:5432

  snapshot-pgadmin:
    image: dpage/pgadmin4
    container_name: snapshot-pgadmin
    environment:
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: "40"
      PGADMIN_CONFIG_FILE_LOG_LEVEL: "40"
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "admin"
    ports:
      - 5050:80
    depends_on:
      - snapshot-postgres

networks:
    default:
      name: snapshot-network
