version: "3.7"
services:

  # Snapshot hub
  snapshot-hub:
    build: .
    container_name: snapshot-hub
    env_file:
      - .env.local
    environment:
      PORT: 8080
      JAWSDB_URL: postgres://admin:123123@snapshot-postgres:5432/snapshot-db
    depends_on:
      - snapshot-postgres
    ports:
      - 8080:8080

  # Snapshot Postgres instance
  snapshot-postgres:
    image: bitnami/postgresql:13
    container_name: snapshot-postgres
    environment:
      POSTGRESQL_USERNAME: admin
      POSTGRESQL_PASSWORD: "123123"
      POSTGRESQL_DATABASE: snapshot-db
    ports:
      - 5432:5432
    volumes:
        - ./server/helpers/database/:/docker-entrypoint-initdb.d/
    
networks:
  default:
    name: snapshot-network